html {
	font-family: "PT Sans", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;

	font-size: 24px;
	line-height: 38px;

	color: #454545;
	background-color: #F3F3F3;
}

.font-light {
	font-weight: 300;
}

.font-regular {
	font-weight: 400;
}


.font-semibold {
	font-weight: 600;
}

.font-bold {
	font-weight: 700;
}

.font-extrabold {
	font-weight: 800;
}

.heading-1 {
	font-family: "Raleway", sans-serif;
	font-size: 116px;
	font-weight: 800;
	line-height: 136px;
	text-transform: capitalize;
	color: #333333;


}

.heading-1-light {
	font-family: "Raleway", sans-serif;
	font-size: 116px;
	font-weight: 300;
	line-height: 136px;
	text-transform: capitalize;
	color: #333333;
}

.heading-2 {
	font-family: "Raleway", sans-serif;
	font-size: 56px;
	font-weight: 800;
	line-height: 80px;
	text-transform: capitalize;
	color: #333333;
}

.heading-2-light{
	font-family: "Raleway", sans-serif;
	font-size: 68px;
	font-weight: 300;
	line-height: 80px;
	text-transform: capitalize;
	color: #333333;
}

.heading-3 {
	font-family: "Raleway", sans-serif;
	font-size: 36px;
	font-weight: 600;
	line-height: 50px;
	text-transform: uppercase;
}

.heading-3-light {
	font-family: "Raleway", sans-serif;
	font-size: 35px;
	font-weight: 300;
	line-height: 50px;
	text-transform: uppercase;
}

.quotes {
	font-family: "Raleway", sans-serif;
	font-size: 38px;
	font-weight: 600;
	line-height: 52px;
	font-style: italic;
}

.quotes-light {
	font-family: "Raleway", sans-serif;
	font-size: 38px;
	font-weight: 400;
	line-height: 52px;
	font-style: italic;
}

.quotes p:nth-child(2){
	font-family: "Raleway", sans-serif;
	font-size: 24px;
	font-weight: 400;
	line-height: 34px;
	font-style: italic;
}

.quotes-in-text {
	font-family: "Raleway", sans-serif;
	font-size: 24px;
	font-weight: 600;
	line-height: 38px;
	font-style: italic;
}


.text-xs {
	font-size: 20px;
	line-height: 32px;
}

.author {
	font-family: "Raleway", sans-serif;
	font-size: 24px;
	font-weight: 400;
	line-height: 34px;
	font-style: italic;
}

#quote-mark{
	font-size: 140px;
	font-weight: 700;
	line-height: 0px;

}

#reference-link{
	font-family: "Raleway", sans-serif;
	font-size: 24px;
	font-weight: 600;
	line-height: 38px;
	font-style: italic;
}

q {
	font-family: "Raleway", sans-serif;
	font-size: 24px;
	font-weight: 600;
	line-height: 38px;
	font-style: italic;
}

time {
	font-family: "Raleway", sans-serif;
	font-size: 24px;
	line-height: 38px;
	font-weight: 400;
	font-style: italic;
}

strong{
	font-family: "Raleway", sans-serif;
	text-transform: uppercase;
}

a{
	color: #1A3ADA;
}

