html {
	font-family: "PT Sans", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;

	font-size: 24px;
	line-height: 38px;

	color: #454545;
	background-color: #F3F3F3;
}



.heading-1 {
	font-family: "Raleway", sans-serif;
	font-size: 116px;
	font-weight: 800;
	line-height: 136px;
	text-transform: capitalize;
	color: #333333;

}

.heading-1-light {
	font-family: "Raleway", sans-serif;
	font-size: 116px;
	font-weight: 300;
	line-height: 136px;
	text-transform: capitalize;
	color: #333333;
}

.heading-2 {
	font-family: "Raleway", sans-serif;
	font-size: 56px;
	font-weight: 800;
	line-height: 80px;
	text-transform: capitalize;
	color: #333333;
}

.heading-2-light {
	font-family: "Raleway", sans-serif;
	font-size: 68px;
	font-weight: 300;
	line-height: 80px;
	text-transform: capitalize;
	color: #333333;
}

.heading-3 {
	font-family: "Raleway", sans-serif;
	font-size: 36px;
	font-weight: 600;
	line-height: 50px;
	text-transform: uppercase;
}

.heading-3-light {
	font-family: "Raleway", sans-serif;
	font-size: 35px;
	font-weight: 300;
	line-height: 50px;
	text-transform: uppercase;
}

.quote {
	font-family: "Raleway", sans-serif;
	font-size: 38px;
	font-weight: 600;
	line-height: 52px;
	font-style: italic;

	border-top: 4px solid #333333;

}

.quote-light {
	font-family: "Raleway", sans-serif;
	font-size: 38px;
	font-weight: 400;
	line-height: 52px;
	font-style: italic;
}

.quote p:nth-child(2) {
	font-family: "Raleway", sans-serif;
	font-size: 24px;
	font-weight: 400;
	line-height: 34px;
	font-style: italic;
}

.quote-inline {
	font-family: "Raleway", sans-serif;
	font-size: 24px;
	font-weight: 600;
	line-height: 38px;
	font-style: italic;
}


.p-xs {
	font-size: 20px;
	line-height: 32px;
}

.time-32 {
	font-family: "Raleway", sans-serif;
	font-size: 32px;
	line-height: 40px;
	font-weight: 400;
	font-style: italic;
}


.author {
	font-family: "Raleway", sans-serif;
	font-size: 24px;
	font-weight: 400;
	line-height: 32px;
	font-style: italic;
}

.line {
	height: 9px;
	width: 88px;
	background-color: #333333;
}

#main-quote {
	font-family: "Raleway", sans-serif;
	font-size: 44px;
	font-style: italic;
	font-weight: 600;
	line-height: 64px;
}


#reference-link {
	font-family: "Raleway", sans-serif;
	font-size: 24px;
	font-weight: 600;
	line-height: 38px;
	font-style: italic;
	text-decoration-line: underline;


	border: 2px solid #333333;
	border-left: none;
	
	padding: 43px 56px;
}

q {
	font-family: "Raleway", sans-serif;
	font-size: 24px;
	font-weight: 600;
	line-height: 38px;
	font-style: italic;
}

time {
	font-family: "Raleway", sans-serif;
	font-size: 24px;
	line-height: 38px;
	font-weight: 400;
	font-style: italic;
}

strong {
	font-family: "Raleway", sans-serif;
	text-transform: uppercase;
}

a {
	color: #1A3ADA;
}